@layout("../../system/layout.html", {title: "日志列表-定时任务"}){
<div class="row">
    <div class="col-md-6 form-inline pull-left">
        <div class="form-group">
            <input v-model="keyword" \@keyup.enter="load" class="form-control" placeholder="请输入查询关键字"
                   style="width: 220px;"/>
        </div>
        <div class="form-group">
            <a class="btn btn-primary" \@click="load"><i class="fa fa-search"></i>&nbsp;查询</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="btn-toolbar pull-right">
            <div class="btn-group">
                <a v-if="hasPermission('quartz:log:list')" class="btn btn-default" onclick="reload();"><i
                        class="fa fa-refresh"></i>&nbsp;刷新</a>
                <a v-if="hasPermission('quartz:log:remove')" class="btn btn-default" \@click="remove"><i
                        class="fa fa-trash-o"></i>&nbsp;删除</a>
                <a v-if="hasPermission('quartz:log:clear')" class="btn btn-default" \@click="clear"><i
                        class="fa fa-eraser"></i>&nbsp;清空</a>
            </div>
            <div class="btn-group">
                <a v-if="hasPermission('quartz:job:list')" class="btn btn-default" href="list.html"><i
                        class="fa fa-bell"></i>&nbsp;任务列表</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <table id="dataGrid"></table>
</div>
<script src="${ctxPath}/static/js/base/quartz/log.js"></script>
@}