@layout("../../system/layout.html", {title: "编辑-用户管理"}){
<table class="form" id="form">
    <tr>
        <td class="formTitle">用户名<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="用户名" v-model="user.username" isvalid="yes"
                   checkexpession="NotNull">
        </td>
    </tr>
    <tr>
        <td class="formTitle">所属机构<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control pointer" placeholder="所属机构" v-model="user.orgName" \@click="orgTree"
                   isvalid="yes" checkexpession="NotNull" readonly="readonly">
        </td>
    </tr>
    <tr>
        <td class="formTitle">密码<font face="宋体">*</font></td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="密码" value="******" readonly="readonly">
        </td>
    </tr>
    <tr>
        <td class="formTitle">邮箱</td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="邮箱" v-model="user.email">
        </td>
    </tr>
    <tr>
        <td class="formTitle">手机号</td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="手机号" v-model="user.mobile">
        </td>
    </tr>
    <tr>
        <td class="formTitle">备注</td>
        <td class="formValue">
            <input type="text" class="form-control" placeholder="备注" v-model="user.remark">
        </td>
    </tr>
    <tr>
        <td class="formTitle">角色<font face="宋体">*</font></td>
        <td class="formValue">
            <select style="width:370px;" class="form-control roleSelect" isvalid="yes" checkexpession="NotNull"
                    multiple></select>
        </td>
    </tr>
    <tr>
        <td class="formTitle">状态</td>
        <td class="formValue">
            <label class="radio-inline">
                <input type="radio" name="status" value="0" v-model="user.status"/> 禁用
            </label>
            <label class="radio-inline">
                <input type="radio" name="status" value="1" v-model="user.status"/> 正常
            </label>
        </td>
    </tr>
</table>
<script src="${ctxPath}/static/js/base/user/edit.js"></script>
@}